* {
    font-family: 'Nunito';
}

header {
    background-color: #e9e2da;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #333237;
    padding: 1em 0;
}

main {
    text-align: center;
    background-color: #fb8351;
    height: 100vh;
}

section figure img {
    border-radius: 50%;
    width: 144px;
    height: 144px;
}

figure {
    padding: 64px;
}

figcaption {
    font-weight: 600;
    font-size: 20px;
    color: #333237;
    margin: 19px;
}

ul {
    margin: 0 auto;
    width: 30%;
}

li {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 32px 0px 0px;
    padding: 19px 0;
    margin: 16px 0;
    
}

li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #333237;
}